.page {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: #000;
  background-size: 100% 100%;
  object-fit: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  position: relative;
  }

.page::after {
  position: absolute;
  top: -60px;
  left: 0;
  content: '';
  background-image: url(../../images/triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  width: 700px;
  height: 700px;
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
