.page {
  width: 100%;
  min-width: 320px;
  max-height: 100vh;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: #000;
  background-size: 100% 100%;
  object-fit: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  position: relative;
  overflow: hidden;
  }

.page::after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  content: '';
  background-image: url(../../images/triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  width: 300px;
  height: 300px;
  animation: rotation 20s linear infinite;
  opacity: .25;
}

.page::before {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  content: '';
  height: 300px;
  width: 300px;
  background-color: #2F80ED;
  animation: antirotation 25s linear infinite;
  opacity: .35;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes antirotation {
  to {
    transform: rotate(-360deg);
  }
}
