.page {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: #000;
    background-size: 100% 100%;
    object-fit: contain;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
    position: relative;
  }