@import url(./__link/constructor__link.css);
@import url(./__image/constructor__image.css);
@import url(./__text/constructor__text.css);

.constructor {
  margin: 0;
  padding: 0;
  width: 20%;
  height: inherit;
  background: #FFC0CB;
  border-radius: 16px;
  box-shadow: 10px 10px 5px #FFF;
}
