@import url(./__link/constructor__link.css);
@import url(./__image/constructor__image.css);
@import url(./__text/constructor__text.css);

.constructor {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 25%;
  height: 500px;
  /* background: #FFC0CB; */
  border-radius: 16px;
  overflow: hidden;
}
