.redactor__name {
  margin: 0 0 3px;
  padding: 0;
  display: flex;
  flex-direction: column;

  font-family: "Roboto", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #2F80ED;
}
