.redactor__input {
  margin: 5px 0 5px;
  padding: 0;
  width: 100%;
  min-height: 33px;
  outline: none;
  border: none;
  box-shadow: 6px 6px 0 rgba(47, 128, 237, .3);
  transform: all .4s ease;
}

.redactor__input:hover {
  box-shadow: 6px 6px 0 rgba(181, 41, 236, .3);
}

.redactor__input:focus {
  box-shadow: 6px 6px 0 rgba(181, 41, 236, .3);
}
