@import url(./__download/save__download.css);
@import url(./__image/save__image.css);

.save{
  margin: 0;
  padding: 0;
  width: 3%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
